<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragment/template :: head}">&nbsp;</head>
<body>

<div class="container main-container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 login-form">
            <div th:if="${param.error}">
                <p style="color: red;" th:text="${param.error}"></p>
            </div>

            <div class="error"  th:if="${param.error != null and session != null and session['SPRING_SECURITY_LAST_EXCEPTION'] != null}"
                 th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                <div class="alert alert-warning" th:text="${errorMsg}">Login failed.</div>
            </div>
            <h1>LOGIN PAGE</h1>
            <form th:action="@{/auth/login}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">USERNAME</label>
                    <input type="text"
                           autocomplete="off"
                           name="username"
                           class="form-control custom-login-input"
                           id="username"
                           placeholder="IDENTITY"
                           value="admin"
                    />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">PASSWORD</label>
                    <input type="password"
                           name="password"
                           class="form-control custom-login-input"
                           id="password"
                           placeholder="PASSWORD"
                           autocomplete="current-password"
                           value="password"
                    />
                </div>
                <div class="form-group">
                    <button type="submit">LOG IN</button>
                </div>
            </form>

            <div class="alert alert-info mt-3" role="alert">
                Enter credential <b>admin/password</b> to access demo application.
            </div>
        </div>
    </div>
</div>

</body>
</html>
